@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-xl md:text-3xl;
    @apply font-semibold;
    @apply text-text;
  }
  h2 {
    @apply text-lg md:text-2xl;
    @apply font-bold;
    @apply text-text dark:text-text-dark;
  }

  h3 {
    @apply text-lg md:text-xl;
    @apply font-bold;
    @apply text-text;
  }
  p {
    @apply text-sm md:text-base;
    @apply text-secondary;
  }
}
